@use '../custom' as *;
@use '../components/mixins' as *;

.delivery-detail-section{
    background-color: #FAF3EA;
    padding: toRem(80);

    @include breakpoint(xl){
        padding: toRem(60);
    }
    @include breakpoint(lg){
        padding: toRem(60);
    }
    @include breakpoint(md){
        padding: toRem(40);
    }
    @include breakpoint(sm){
        padding: toRem(20);
    }
    @include breakpoint(xs){
        padding: toRem(20);
    }

    .delivery-wrapper{
        display: flex;
        gap: toRem(15);
        align-items: center;
        justify-content: center;

        @include breakpoint(xl){
            justify-content: flex-start;
            padding: toRem(15) toRem(0);
        }
        @include breakpoint(lg){
            justify-content: flex-start;
            padding: toRem(15) toRem(0);
        }
        @include breakpoint(md){
            justify-content: flex-start;
            padding: toRem(15) toRem(0);
        }
        @include breakpoint(sm){
            justify-content: flex-start;
            padding: toRem(15) toRem(0);
        }
        @include breakpoint(xs){
            justify-content: flex-start;
            padding: toRem(15) toRem(0);
        }

        .quality-icon{
            img{

            }
        }
        .delivery-text{
            h4{
                font-size: toRem(25);
                font-family: Poppins;
                font-weight: 600;
                color: #000;
                padding: 0;
                margin: 0;

                @include breakpoint(xl){
                    font-size: toRem(22);
                }
                @include breakpoint(lg){
                    font-size: toRem(20);
                }
                @include breakpoint(md){
                    font-size: toRem(18);
                }
                @include breakpoint(sm){
                    font-size: toRem(18);
                }
                @include breakpoint(xs){
                    font-size: toRem(16);
                }
            }
            p{
                font-size: toRem(20);
                font-family: Poppins;
                font-weight: 500;
                color:#898989;
                padding: 0;
                margin: 0;

                @include breakpoint(xl){
                    font-size: toRem(18);
                }
                @include breakpoint(lg){
                    font-size: toRem(18);
                }
                @include breakpoint(md){
                    font-size: toRem(16);
                }
                @include breakpoint(sm){
                    font-size: toRem(14);
                }
                @include breakpoint(xs){
                    font-size: toRem(14);
                }
            }
        }
    }
}